#!/usr/bin/make -f


%:
	dh $@ # --with=autotools-dev

override_dh_auto_configure:
	LIBS="-ldl -lpthread -lnl" dh_auto_configure -- --disable-vrrp --enable-snmp

override_dh_strip:
	true

override_dh_auto_build:
	dh_auto_build -- all debug

override_dh_auto_test:

clean:
	dh_clean
	rm -f config.status
	rm -f config.log
	make distclean || true

override_dh_install:
	dh_install
	rm -fr debian/keepalived/etc/sysconfig/
